@charset "utf-8";
/* Main css document for the puzzle site */
*{
padding:0px auto; 
margin:0px;
}
img{border:0px;}


body{
text-align:center;
}
p{
	font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
	}
strong{	
    font-family:Arial, Helvetica, sans-serif;
    font-size:16px;
	}	

ul{
	list-style-position: inside;
    overflow :hidden;
	}

li{
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	overflow :hidden;
	list-style-position: inside;
	}
#listype{
	font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
	overflow :hidden;
	list-style-position: inside;
	}



.main{
	font-size:12px; 
	background-image:url('../images/background.png'); 
	background-repeat:no-repeat; 
	overflow :hidden; 
	height:600px;
	width:100%; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px;
	}
	
#wrappertop{
	float:left; 
	padding:50px 0 0 200px; 
	font-size:36px;	
	overflow :hidden;
	}
	
#content {
   float:left;
   padding:0 0 0 250px;
   width:100%; 
   height:auto; 
   overflow:hidden;
   text-align:left;
}
	
#welcome{
	float:left; 
	padding:80px 0 0 150px
	}
#username{
	text-align:center;
	font-size:14px;
	}
#footer{
	width:100%;
	text-align:center;
	font-size:12px;
	position:absolute;
	bottom:155px;
	
	}
#uppart{
	float:none;
 
	padding:90px 90px 0 55px;
	}
	
#gameusername{
	float:right; 
	font-size:9px; 
	padding:0 90px 0 auto;
	}
#puzzle{
	float:left;
	height:374px;
	width:500px;
	margin:10px 0 0 50px; 
	border:#666 solid 1px;
	overflow :hidden;
	position:relative;
	}
#gameboard{
	float:right; 
	height:374px;
	width:302px; 
	margin:10px 95px 0 0px; 
	border:#666 solid 1px; 
	position:relative;
	overflow : hidden;
	background-image:url('../images/hint.png'); 
	background-repeat:no-repeat; 
	background-position:5px 45px;	
	background-attachment:local;
	}
	
table{border-collapse:collapse;border-spacing:0;}
#questionarea{
	height:150px; 
	width:150px;
	margin:25px 10px 0 50px; 
	border:#666 solid 1px; 
	overflow :hidden; 
	font-size:10px;
	}
	
.cue{
	border:0px;
	width: 97px;
	height:93px;
	padding:0px auto; 
    margin:0 0 0 0;
}

#tabledes{
    margin:0; 
	padding:0;
	border-collapse:collapse;border-spacing:0;
	}
#tabledes td{
	margin:0; 
	padding:0;
	}
#home{
	postition:absolute;
	overflow:hidden;
	text-align:left;
	bottom:2px;
	float:left;
	left:0px;
	width:100px;
	height:50px; 
	padding:28px 0 0 10px;
	}
#help{
	postition:absolute;
	overflow:hidden;
	text-align:center;
	bottom:2px;
	float:left;
	left:150px;
	width:30px;
	height:50px; 
	padding:28px 0 0 30px;
	}	
#exit{
	postition:absolute;
	overflow:hidden;
	text-align:right;
	bottom:2px;
	float:right;
	right:0px;
	width:100px;
	height:50px; 
	padding:28px 10px 0 0;
	}
.questionBox {
	color: black;
}
center{
	width:495px;
	height:366px;
	}

center{
	width:100%;
	height:100%;
	background-image:url('../images/bg.gif');
	background-repeat:repeat-x;
	overflow : hidden; 
	}
#win{
	background-image:url('../images/win.png'); 
	background-repeat:no-repeat; 
	overflow :hidden;
	height:600px;
	width:930px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px;
	padding-top:400px;
	}	
#fail{
	background-image:url('../images/fail.png'); 
	background-repeat:no-repeat; 
	overflow :hidden; 
	height:600px;
	width:930px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px;
	padding-top:160px;
	}
	
	#helppage{
 	background-image:url('../images/helpbg.png'); 
	background-repeat:no-repeat; 
	overflow :hidden;
	text-align:center;
	height:600px;
	width:930px; 
	font-family:Arial, Helvetica, sans-serif; 
	font-size:14px;
	padding-top:130px;
	position:relative;
	}
